<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Search</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="vendor/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div class="main" ng-controller="MyCtrl">
    <div id="searcharea">
      <h1>Artist Directory</h1>
      <input ng-model="query" id="search" type="text" placeholder="Search for artists" autofocus>
      <label class="formgroup"> 
        <span>Search By:</span>
        <select ng-model="artistOrder">
          <option value="name">Name</option>
          <option value="address">Option</option>
        </select>
      </label>
    </div>
    <ul class="artistlist" id="update">
      <li class="artist" ng-repeat=" item in artists | filter:query | orderBy:artistOrder">
        <img ng-src={{item.img}} alt="">
        <div class="info">
          <h2>{{ item.name }}</h2>
          <h3>{{ item.bio }}</h3>
        </div>
      <div class="clear-fix"></div>
      </li>
    </ul>
  </div>
</body>
</html>